#main-nav {
  max-width: 100%;
  padding: 1.2rem;
  height: 6rem;
}

#main-nav .eatery {
  font-size: 0.6rem;
  width: 100%;
}

#main-nav ul li {
  display: block;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 3rem;
  background-color: #444;
  transition: all 0.9s;
}

#main-nav ul {
  position: relative;
  width: 10rem;
  height: 2rem;
  top: 5.5rem;
  margin-right: -1rem;
  left: -200%;
}
#main-nav ul.active {
  position: absolute;
  left: 0;
  top: 5.5rem;
}

#main-nav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
}

.lines {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.book {
  position: relative;
}

.book h2 {
  color: rgb(250, 94, 37);
  width: 100%;
  margin: 1.5rem auto;
  position: absolute;
  top: -5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.book__img {
  width: 18rem;
  height: 15rem;
  margin: 6rem auto;
  margin-bottom: 2rem;
  display: block;
  border-radius: 5px;
}

.book p {
  width: 35vw;
  margin: 0 auto;
  font-size: 0.8rem;
}

.book__p1-name {
  color: coral;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}

.book__p1-email {
  text-decoration: underline;
  font-style: italic;
}

.book__p2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#showcase {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #fff;
  font-size: 1.3rem;
  background: url("../img/img-9.jpg") no-repeat center center/cover;
  position: relative;
}

.special h2 {
  display: none;
}

/* .hide {
  border: 2px solid red;
  display: none;
} */

#picks {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#picks h3 {
  font-size: 0.8rem;
}

#picks p {
  font-size: 0.6rem;
}
#picks div img {
  width: 100%;
  height: 10rem;
}

#picks .spans,
#picks .spans:last-child {
  grid-template-columns: 1fr;
}

#footer-container {
  grid-template-columns: repeat(2, 1fr);
  color: #f3f3f3;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

#about .about-container {
  display: flex;
}

#contact .contact-container i {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.swiper {
  width: 90vw;
}

.swiper-slide {
  text-align: center;
}

img {
  height: 30rem;
}

.cuisine-header {
  color: coral;
  font-size: 2rem;
  text-align: center;
  margin: 0.6rem auto;
  margin-top: 2.3rem;
  text-transform: uppercase;
  transition: all 0.4s;
}
