* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: #f3f3f3;
}
a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}

#main-nav {
  display: flex;
  background: #444;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
#main-nav .eatery {
  font-size: 1.2rem;
}

#main-nav ul li {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

/* #main-nav ul li:hover {
  background: #242424;
  border-radius: 5px;
} */

#main-nav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: coral;

  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

#main-nav ul li:hover:before {
  transform: rotate(0deg);
}

#main-nav ul li a {
  color: #fff;
}

.lines {
  display: none;
}

.active #line1 {
  transform: translateY(8px) rotate(45deg);
}

.active #line2 {
  opacity: 0;
}

.active #line3 {
  transform: translateY(-8px) rotate(-45deg);
}

.line {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s;
  background-color: #fff;
}

/* Section */
#showcase {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #fff;
  font-size: 3rem;
  background: url("../img/img-9.jpg") no-repeat center center/cover;
  position: relative;
}

h2 {
  position: absolute;
  text-align: center;
}

h2:nth-child(1) {
  color: #fff;
}

h2:nth-child(2) {
  color: rgb(143, 125, 125);
  animation: wavy 2s ease-in-out infinite;
}

@media only screen and (max-width: 1100px) {
  #showcase h2 {
    color: #fff;
  }
}

@keyframes wavy {
  0% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 49%,
      16% 56%,
      33% 55%,
      55% 50%,
      75% 42%,
      100% 40%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
}

.special h2 {
  color: #242424;
  padding: 2rem;
  font-size: 2rem;
}

#picks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.7rem;
  padding: 1.5rem 2rem;
  margin: 2rem;
}

#picks div img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

#picks .spans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
  color: #444;
  padding: 0 2rem;
}
#picks .spans:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: flex-start;
  grid-column: 2 / span 2;
  padding: 0 2rem;
}

#picks .spans div {
  display: flex;
  flex-direction: column;
}

#picks .spans:first-child {
  margin-bottom: 0;
}

#picks > * .spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

#picks .spans div .spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#about,
#contact {
  padding: 2rem;
  background: #cfccc8;
  text-align: center;
}

#about h1,
#contact h1 {
  color: coral;
  font-size: 3rem;
}
#about .about-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2 3rem;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

#contact .contact-container {
  display: flex;
  flex-direction: column;
}
#contact .contact-container p {
  color: #242424;
}
#contact .contact-container p span {
  color: #dd1f1f;
  font-size: 1.4rem;
}

#about .about-container img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 0rem 3rem;
}

.book {
  position: relative;
}

.book h2 {
  color: rgb(250, 94, 37);
  width: 100%;
  margin: 2rem auto;
  position: absolute;
  top: -7rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.book__img {
  width: 30rem;
  height: 18rem;
  margin: 7rem auto;
  margin-bottom: 2rem;
  display: block;
  border-radius: 5px;
}

.book p {
  width: 35vw;
  margin: 0 auto;
  font-size: 0.8rem;
}

.book__p1-name {
  color: coral;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}

.book__p1-email {
  text-decoration: underline;
  font-style: italic;
}

.book__p2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

footer {
  background: #444;
}

#footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #f3f3f3;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

#footer-container a {
  color: #f3f3f3;
}
#footer-container p {
  margin-top: 1.5rem;
}
#footer-container ul {
  margin-top: 1.5rem;
}
#footer-container ul li {
  margin-top: 0.5rem;
}

footer #copy {
  background: #242424;
  color: #c4bfbb;
  text-align: center;
  font-size: small;
  padding: 0.75rem;
  width: 100%;
}

.more {
  color: coral !important;
  text-decoration: underline;
}

/* swiperrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

.gallery-img {
  display: none;
  max-height: 600px;
}

.active {
  display: block;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0074d9;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.swiper {
  width: 90vw;
}

.swiper-slide {
  text-align: center;
}

img {
  height: 30rem;
  object-fit: cover;
}

.cuisine-header {
  color: coral;
  font-size: 2.5rem;
  text-align: center;
  margin: 0.6rem auto;
  margin-top: 2.3rem;
  text-transform: uppercase;
  transition: all 0.4s;
}

.cuisine-header:hover {
  transform: scale(1.1);
}
